/*TESTES DE CSS COM A AULA DO NOVOTEC*/

/* IMPORTANDO AS FONTES DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Press+Start+2P&display=swap');

/*MARGEM NA MATÉRIA*/
 p, h1, h2, h3 {
    margin-left: 150px;
    margin-right: 150px;    
}
p{
    font-size: 20px;
}
header{
    border: 2px solid;  
}
/*LOGO DROP JOGOS*/
#companyName{
    font-size: 35px;
    font-family: 'Press Start 2p', cursive;
    text-align: center;
}
/*MENU HOME / AINDA PRECISA AFASTAR DA BORDA*/
#home{
    display: flex;
    justify-content: center;
    
}
/*IMAGEM / DIMINUIR A BORDA*/
.container{
    display: flex;
    justify-content: center;
    height: 250px;
    margin-top: 30px;
    border: 2px solid;
    padding: 5px;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 30px;
}

ul{
    margin-left: 150px;
    margin-right: 150px;
}

table, tr{
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid;
    border-radius: 5px;
}
